:root {
	--bg: #fff;
	--primary-border: 1px solid rgb(190, 190, 190);
	--secondary-border: 1px solid rgb(220, 220, 220);
	--primary-border-radius: 4px;
	--primary-text-color: rgb(100, 100, 100);
	--secondary-text-color: white;
	--primary-button-color: rgb(0, 101, 179);
	--secondary-button-color: rgb(40, 40, 40);
	--primary-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
	--primary-shadow: 1px 1px 12px rgb(0, 0, 0, 0.3);
	--sent-state: rgb(123, 224, 0);
	--waiting-state: rgb(255, 161, 61);
	--cancelled-state: red;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
	color: var(--primary-text-color);
}
nav {
	border-bottom: var(--primary-border);
}
.navbar-items {
	padding: 0.5rem 1rem;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.account-navbar {
	cursor: pointer;
}
.account-navbar-items {
	width: 200px;
	position: absolute;
	transform: translate(-85%, 30%);
	list-style: none;
	padding: 1rem;
	border-radius: var(--primary-border-radius);
	box-shadow: var(--primary-shadow);
	font-size: 0.9rem;
	display: flex;
	flex-direction: column;
	background-color: var(--bg);
}
.logo {
	font-weight: 400;
}
.account-navbar-items li {
	display: flex;
	gap: 8px;
	align-items: center;
	cursor: pointer;
}
.account-navbar-items span {
	font-size: 1.3rem;
}
.account-navbar-items a {
	text-decoration: none;
	display: flex;
	gap: 8px;
	width: 100%;
	color: var(--primary-text-color);
	padding: 4px 0;
}

section {
	margin: 1rem;
}
.welcome-section {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.welcome-section h2 {
	text-align: right;
	font-weight: 400;
}
.actions-section ul {
	list-style: none;
}
.packages-section h3 {
	margin-bottom: 1rem;
	font-weight: 300;
	font-size: 1.5rem;
}
.packages-section table,
.packages-section :is(td, th) {
	border: var(--primary-border);
	border-collapse: collapse;
}
.packages-section table {
	width: 100%;
}
.packages-section :is(th, td) {
	padding: 4px;
	text-align: right;
}
.table-state {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	min-width: 150px;
}
.table-state span:last-child {
	width: 6px;
	height: 6px;
	border-radius: 50%;
}
.table-sent-state {
	background-color: var(--sent-state);
}
.table-waiting-state {
	background-color: var(--waiting-state);
}
.table-cancelled-state {
	background-color: var(--cancelled-state);
}
.packages-section :is(th, td):last-child {
	padding: 4px 0;
	text-align: center;
}
form {
	border: var(--primary-border);
	width: 90%;
	border-radius: var(--primary-border-radius);
	padding: 1rem;
	margin: auto;
	margin-top: 2rem;
}

fieldset {
	border: none;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

legend {
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin: 2rem 0;
	width: 100%;
}

legend :is(h3, h4) {
	font-weight: 400;
	text-align: center;
}

input {
	border: var(--primary-border);
	border-radius: var(--primary-border-radius);
	padding: 0.5rem;
}
input[type='submit'] {
	border: none;
}
.group-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.back-button {
	background-color: var(--bg);
	font-size: 0.85rem;
	text-decoration: none;
	color: var(--secondary-button-color);
	padding: 0.7rem 0;
}
.submit {
	cursor: pointer;
	background-color: var(--primary-button-color);
	color: var(--secondary-text-color);
	padding: 0.7rem 1rem;
}
.hidden {
	display: none;
}
